.header {
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
}
.margin{
    margin-top: 20px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 80px;
}
.border{
    margin-top: 10px;
    margin-right: 70px;
    margin-left: 70px;
    border-style: solid;
    border-color: red;
}
.text{
    color: darkBlue;
}